{% include 'navbar.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <form action="/update_data/{{data.id}}" method="POST">
        {%csrf_token%}
        title<input type="text" name="title" value="{{data.title}}" id=""><br><br>
        description<input type="text" value="{{data.description}}"name="description"><br><br>
        <!--author<input type="text" name="author" value="{{data.author}}"><br><br>
        --> no_of_line<input type="text" name="no_of_line"value="{{data.no_of_line}}"><br><br>
        <input type="submit" value="update">
        </form><br><br>

    
</body>
</html>